* {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  color: #333;
  background-color: lightcoral;
}

.main {
  background-color: rgb(0, 0, 255);
  width: 400px;
  height: 400px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}
